{% extends "layout_admin.njk" %}

{% block head %}
        <title>Criar chef | Admin Foodfy</title>
{% endblock %}

{% block content %}
    <form id="form-post" method="POST" action="/admin/chefs" enctype="multipart/form-data">
        <h1>Criando chef</h1>
        <button type="submit">Salvar Chef</button>
        {% include "admin/chefs/fields.njk" %}
    </form>
{% endblock %}