{% extends "layout.njk" %}

{% block head %}
    <title>
        Foodfy - Home
    </title>
{% endblock %}

{% block content %}

    <section id="presentation">
        <section id="presentation-content">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </section>
        <section id="presentation-image">
            <img src="/imgs/chef.png" alt="Mascote do Foodfy" srcset="">
        </section>
    </section>
    <section id="popular-recipes">
        <h2>Mais acessadas</h2>
        <section id="foods-cards">

            {% for recipe in recipes.slice(0, 6)%}

                <section class="food-card" id="{{loop.index-1}}">
                    <img src="{{recipe.image}}" alt="recipe.title">
                    <h3>{{recipe.title}}</h3>
                    <p>por {{recipe.author}}</p>
                </section>

            {% endfor %}

        </section>
    </section>
    
    <div class="modal-overlay">

        <div class="modal">
            <img id="recipe-image" src="./" alt="Recipe image">
            <h2 id="recipe-title">RECIPE TITLE</h2>
            <p id="recipe-author">Author name</p>

            <a id="close-modal" onclick="hideModal()">Voltar para receitas</a>
        </div>
    </div>


{% endblock %}