{% extends "layout.njk" %}}

{% block head %}
    <title>
        Foodfy - Home
    </title>
{% endblock %}

{% block content %}

    <section id="recipes">
        <section id="foods-cards">

            {% for recipe in recipes %}
                <section class="food-card" id="{{loop.index}}">
                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    <h3>{{recipe.title}}</h3>
                    <p>por {{recipe.author}}</p>
                </section>
            {% endfor %}
            
        </section>
    </section>

    <div class="modal-overlay">

        <div class="modal">
            <img id="recipe-image" src="./" alt="Recipe image">
            <h2 id="recipe-title">RECIPE TITLE</h2>
            <p id="recipe-author">Author name</p>

            <a id="close-modal" onclick="hideModal()">Voltar para receitas</a>
        </div>
    </div>
    
</div>

{% endblock %}
