{% extends "layout_client.njk" %}

{% block head %}
    <title>
        Foodfy - Home
    </title>
{% endblock %}

{% block content %}

    <section id="recipes">
        <section id="foods-cards">

            {% for recipe in recipes %}
                <section class="food-card" id="{{loop.index}}">
                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    <h3>{{recipe.title}}</h3>
                    <p>por {{recipe.author}}</p>
                </section>
            {% endfor %}
            
        </section>
    </section>

</div>

{% endblock %}
