@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

:root {
    --color-default: #111111;
    --color-hover: #4274fd;
    --color-author: #777777;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    outline: none;
}

html,body {
    height: 100%;
}

body {
    background: #ffffff;
    font-family: 'Roboto', 'Regular';
    font-size: 18px;
    color: var(--color-default);
    display: flex;
    flex-direction: column;
}

#container {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 32px;
}

header {
    padding: 32px 0px;
    display: inline-flex;
    width: 100%;
    align-items: center;
}

header img {
    padding-right: 32px;
}

header a {
    padding-right: 32px;
    font-size: 16px;
    color: var(--color-default);
    line-height: 28px;
    text-decoration: none;
    transition: color 500ms;
}

header a:hover {
    color: var(--color-hover);
    transition: color 500ms;
}

header .active {
    font-weight: bold;
}

footer {
    bottom: 0;
    background-color: #EEEEEE;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

footer p {
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    padding: 20px;
}

#presentation {
    size: 940px;
    height: 366px;
    border-radius: 30px;
    background-color: #fbdfdb;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#presentation-content {
    max-width: 316px;
    margin: auto;
}

#presentation-content h1 {
    font-family: 'Roboto', 'Bold';
    font-size: 32px;
    padding-bottom: 10px;
}

#presentation-content p {
    font-size: 18px;
    color: black;
    opacity: 70%;
    line-height: 28px;
    max-width: 316px;
}

#presentation-image {
    margin: auto;
    margin-bottom: 0px;
}


#popular-recipes h2{
    margin-top: 32px;
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--color-default);
}

#foods-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 25px;
    cursor: pointer;
}

.food-card img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
    object-fit: cover;
}

.food-card h3 {
    line-height: 21px;
    margin-bottom: 5px;
}

.food-card p {
    line-height: 16px;
    margin-top: 5px;
    font-size: 14px;
    color: var(--color-author);
}

#content h1 {
    font-family: 'Roboto', 'Bold';
    font-size: 24px;
    padding-bottom: 20px;
    line-height: 24px;
}

#content h2 {
    font-family: 'Roboto', 'Bold';
    font-size: 20px;
    padding-bottom: 20px;
    line-height: 24px;
}

#content p {
    color: #444444;
    font-size: 18px;
    line-height: 28px;
}

/*=====RECIPE DESCRIPTION PAGE=====*/
#recipe-description img {
    width: 100%;
    height: 280px;
    border-radius: 15px;
    object-fit: cover;
}

#recipe-description h1 {
    text-align: center;
}

#recipe-description h2 {
    text-align: center;
    color: var(--color-author);
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

.steps-header {
    padding-top: 20px;
    padding-bottom: 10px;
}

.steps-header h3 {
    font-size: 24px;
    line-height: 28px;
    padding-right: 5px;
    display:inline;
}

.steps-header p {
    font-size: 12px;
    color: #999999;
    line-height: 14px;
    cursor: pointer;
    display:inline;
}

.steps-container {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 10px;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    display: block;
    max-height: 1000px;
}

.hidden {
    max-height: 0px;
    display: none;
    opacity: 0;
}

/*====ADMIN PAGES STYLE====*/
.admin-header {
    background-color: #000000;
}

.admin-header img {
    margin-left: 16.5%;
    margin-right: 32px;
}

.admin-header a {
    text-transform: uppercase;
    color: #999999;
    font-weight: bold;
    font-size: 15px;
    margin-right: 16px;
}

.admin-header .active {
    color: white
}

.admin-container {
    margin: 32px 16.5%;
}

.admin-container h1 {
    font-size: 24px;
    line-height: 28px;
    color: #111111;
    display: inline-block;
}

button[type="submit"],
.button {
    background-color: #6558C3;
    border-radius: 4px;
    padding: 8px 16px;
    min-width: 139px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', 'Bold';
    float: right;
    cursor: pointer;
    text-align: center;
}

button.cancel, 
.button.cancel {
    background-color: #8A8A8A;
}

button.cancel:hover,
.button.cancel:hover {
    background-color: #DC4747;
}

.button,
.recipe-info a,
.chef-card .chef-info a {
    text-decoration: none;
}

button[type="submit"] + button[type="submit"] {
    margin-right: 8px;
}

/*button[type="submit"]:nth-child(3) {
    background-color: #DC4747;
}*/

.item {
    margin-top: 2%;
}

.item div {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}

.item div:first-child {
    margin-bottom: 1.2%;
}

.item input,
.item textarea,
.item select {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 0px 8px;
    width: 100%;
    height: 49px;
    font-size: 16px;
    box-sizing: border-box;
}

.item .placeholder {
    color: #999999;
}

.item .placeholder option {
    color: black;
}

.item input + input {
    margin-top: 8px;
}

.item textarea {
    height: initial;
}

.item button[type="button"],
.recipe-info a,
.chef-card .chef-info a {
    font-size: 16px;
    color: #6558C3;
    font-weight: bold;
    background-color: transparent;
    margin-top: 16px;
    cursor: pointer;
}

textarea {
    font-family: 'Roboto', 'Regular';
    font-size: 16px;
}

.admin-container img {
    width: 100%;
    max-height: 379px;
    border-radius: 15px;
    margin-top: 32px;
    object-fit: cover;
}

.admin-container h2 {
    font-size: 36px;
    line-height: 42px;
    margin-top: 32px;
}

.admin-container h3 {
    font-size: 20px;
    line-height: 24px;
    margin-top: 4px;
    font-weight: normal;
    color: var(--color-author)
}

.recipe-presentation:first-of-type {
    text-align: left;
}

.recipe-presentation {
    text-align: center;
}

.admin-container ul {
    margin-top: 16px;
    margin-bottom: 32px;
    list-style-position: inside;
    list-style: none;
}

.admin-container ul li::before {
    content: "-";
    padding-right: 8px;
}

.admin-container ul li,
.admin-container p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

.admin-container p {
    margin-top: 16px;
}

/*====ADMIN RECIPE CARDS====*/
.admin_recipe-cards {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 64px;
    row-gap: 16px;
    align-items: center;
}

.admin_recipe-card img {
    margin: 0;
    width: 172px;
    height: 80px;
    object-fit: cover;
}

.admin_recipe-card {
    display: grid;
    grid-template-columns: 172px 2fr;
}

.recipe-info {
    margin-left: 32px;
}

.recipe-info h4 {
    font-size: 18px;
    line-height: 21px;
    color: #111111;
    font-weight: normal;
}

.recipe-info h5 {
    font-size: 14px;
    line-height: 16px;
    color: var(--color-author);
    font-weight: normal;
    padding-bottom: 8px;
}

/*RECIPE ADMIN*/
.recipe-presentation h2 {
    margin: 0;
}

/*CHEFS ADMIN*/
.chef-information img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 32px auto;
}

.chef-presentation {
    text-align: center;
}

.chef_recipes-container {
    margin-top: 32px;
}

.chef-cards {
    margin-top: 32px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 32px;
}

.chef-card {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

.chef-card img{
    margin: 0px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.chef-card .chef-info {
    margin-left: 32px;
}

.chef-card h4 {
    color: #111111;
    font-size: 18px;
    line-height: 21px;
    font-weight: normal;
    margin-bottom: 8px;
}

/*CHEFS SITE PAGE*/
.chefs-container img {
    object-fit: cover;
}

.chefs-container .chef-info {
    margin-left: 16px;
}

.chefs-container .chef-info {
    font-size: 14px;
    color: #666666;
    line-height: 16px;
}

/*SEARCH*/
header {
    position: relative;
}

.search {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 8px;
    position: absolute;
    right: 0px;
}

.search input {
    font-size: 14 px;
    padding: 0px 16px;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
}

.search-params {
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 28px;
}

/*PAGINATION*/
.pagination {
    margin-top: 32px;
    text-align: center;
}

.pagination a,
.pagination span {
    text-decoration: none;
}

.pagination .active {
    font-weight: bold;
}

.pagination a+a {
    margin-left: 16px;
}

.pagination span {
    margin: 0px 16px;
}

/*INPUT TYPE FILE*/
.input-file_container {
    display: grid;
}

.input-file_container input[type="file"] {
    display: none;
}

.input-file_container label.button {
    float: left;
    width: 100px;
}

.input-file_container.recipes {
    display: grid;
    height: 150px;
    grid-template-columns: 150px 1fr;
    column-gap: 12px;
}

.input-file_container.recipes label {
    border: 1px solid #ddd;
    height: 100%;
    width: 100%;
    border-radius: 3.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.input-file_container.recipes label i {
    font-size: 42px;
    color: #999999;
}

#photo-preview.chefs {
    display: grid;
    grid-template-columns: 150px;
    align-items: center;
}

#photo-preview.recipes {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    height: 150px;
    align-items: center;
    gap: 12px;
}

#photo-preview div.photo {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#photo-preview.chefs div.photo {
    margin-top: 32px;
}

#photo-preview div.photo img {
    margin-top: 0;
    width: 150px;
    height: 150px;
    border-radius: 3.5px;
    object-fit: cover;
}

#photo-preview div.photo i {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: red;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 500%;
    cursor: pointer;
    opacity: 0;
    transition: opacity 200ms;
}

#photo-preview div.photo i:hover {
    opacity: 1;
}

/* GALLERY */
.gallery-preview {
    width: 100%;
    height: 55px;
    display: inline-flex;
    justify-content: flex-end;
}

.gallery-preview img,
#recipe-description .gallery .gallery-preview img {
    margin: 4px;
    height: 50px;
    width: 50px;
    border-radius: 3.5px;
    float: right;
    object-fit: cover;
    opacity: 0.5;
    border: 1px solid #ddd;
    cursor: pointer;

    transition: opacity 200ms;
}

.gallery-preview img.active,
#recipe-description .gallery .gallery-preview img.active {
    opacity: 1;
}

/*INPUT CHECK STYLE*/
label.checkbox {
    cursor: pointer;
}

label.checkbox input {
    display: none;
}

label.checkbox span {
    height: 12px;
    width: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    position: relative;
}

[type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;
    top: -4px;
    left: 1px;
    font-size: 14px;
}

/*BUTTON CONTAINER*/
.form-header {
    width: 100%;
    height: 35px;
}

.form-header button,
.form-header .button {
    margin-left: 16px;
}

.form-header button {
    background-color: #6558C3;
}

/*USER INDEX*/
.user-cards {
    display: grid;
    margin-top: 64px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.user-card h4{
    color: #111;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
}

.user-card h5{
    color: #777;
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
}

.user-actions {
    margin-top: 12px;
}

.user-actions form button{
    padding: 0;
    float: initial;
    background-color: initial;
    color: #F55A5A;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    min-width: initial;
    margin-left: 16px;
}

.user-actions form a,
.edit-button {
    color: #6558C3;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
}

/*LOGOUT*/
div.logout {
    margin: auto;
    margin-right: 10px;
}

div.logout form button {
    background-color: initial;
    padding: 0;
    outline: none;
    font-size: 15px;
}