@import "https://fonts.googleapis.com/css?family=Roboto:400,700,700i&display=swap";

:root {
    --color-default: #111111;
    --color-hover: #4274fd;
    --color-author: #777777;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #ffffff;
    font-family: 'Roboto', 'Regular';
    font-size: 18px;
    color: var(--color-default);
}

#container {
    max-width: 952px;
    margin: auto;
}

header {
    padding: 30px 0px;
}

header img {
    padding-right: 8.7%;
}

header a {
    padding-right: 2%;
    font-size: 16px;
    color: var(--color-default);
    line-height: 28px;
    text-decoration: none;
    transition: color 500ms;
}


header a:hover {
    color: var(--color-hover);
    transition: color 500ms;
}

#presentation {
    size: 940px;
    height: 366px;
    border-radius: 30px;
    background-color: #fbdfdb;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#presentation-content {
    max-width: 316px;
    margin: auto;
}

#presentation-content h1 {
    font-family: 'Roboto', 'Bold';
    font-size: 32px;
    padding-bottom: 10px;
}

#presentation-content p {
    font-size: 18px;
    color: black;
    opacity: 70%;
    line-height: 28px;
    max-width: 316px;
}

#presentation-image {
    margin: auto;
    margin-bottom: 0px;
}


#popular-recipes h2{
    margin-top: 32px;
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--color-default);
}

#foods-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 25px;
    cursor: pointer;
}

.food-card img {
    width: 300px;
    height: 95px;
    border-radius: 15px;
}

.food-card h3 {
    line-height: 21px;
    margin-bottom: 5px;
}

.food-card p {
    line-height: 16px;
    margin-top: 5px;
    font-size: 14px;
    color: var(--color-author);
}

footer {
    margin-top: 60px;
    background-color: #EEEEEE;
    text-align: center;
}

footer p {
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    padding: 20px;
}

.modal-overlay {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: #ffffff;
    width: 900px;
    height: 500px;
    margin: auto auto;
    border-radius: 30px;
    text-align: center;
    padding: 32px;
    position: relative;
}

.modal img {
    width: 800px;
    border-radius: 15px;
    padding-bottom: 20px;
}

.modal h2 {
    padding-bottom: 15px;
    font-size: 24px;
    color: var(--color-default);
}

.modal p {
    line-height: 16px;
    font-size: 14px;
    color: var(--color-cards-default);
    padding-bottom: 22px;
}

#close-modal {
    font-size: 16px;
    color: var(--color-default);
    line-height: 28px;
    text-decoration: none;
    transition: color 500ms;
    cursor: pointer;
}

#close-modal:hover {
    color: var(--color-hover);
    transition: color 500ms;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease-in;
}

#content h1 {
    font-family: 'Roboto', 'Bold';
    font-size: 24px;
    padding-bottom: 20px;
    line-height: 24px;
}

#content h2 {
    font-family: 'Roboto', 'Bold';
    font-size: 20px;
    padding-bottom: 20px;
    line-height: 24px;
}

#content p {
    color: #444444;
    font-size: 18px;
    line-height: 28px;
}

/*=====RECIPE DESCRIPTION PAGE=====*/
#recipe-description img {
    width: 940px;
    height: 280px;
    border-radius: 15px;
    margin-bottom: 20px;
}

#recipe-description h1 {
    text-align: center;
}

#recipe-description h2 {
    text-align: center;
    color: var(--color-author);
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

.steps-header {
    padding-top: 20px;
    padding-bottom: 10px;
}

.steps-header h3 {
    font-size: 24px;
    line-height: 28px;
    padding-right: 5px;
    display:inline;
}

.steps-header p {
    font-size: 12px;
    color: #999999;
    line-height: 14px;
    cursor: pointer;
    display:inline;
}

.steps-container {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 10px;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

/*

.steps-header h3 {
    font-size: 24px;
    line-height: 28px;
    padding-right: 5px;
}

.steps-header p {
    font-size: 12px;
    color: #999999;
    line-height: 14px;
    cursor: pointer;
}

*/