@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

:root {
    --color-default: #111111;
    --color-hover: #4274fd;
    --color-author: #777777;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #ffffff;
    font-family: 'Roboto', 'Regular';
    font-size: 18px;
    color: var(--color-default);
}

#container {
    max-width: 952px;
    margin: auto;
}

header {
    padding: 32px 0px;
}

header img {
    padding-right: 32px;
}

header a {
    padding-right: 32px;
    font-size: 16px;
    color: var(--color-default);
    line-height: 28px;
    text-decoration: none;
    transition: color 500ms;
}

header a:first-child {
    padding-right: 0px;
    font-size: 0px;
    line-height: 0px;
}

header a:hover {
    color: var(--color-hover);
    transition: color 500ms;
}

#presentation {
    size: 940px;
    height: 366px;
    border-radius: 30px;
    background-color: #fbdfdb;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#presentation-content {
    max-width: 316px;
    margin: auto;
}

#presentation-content h1 {
    font-family: 'Roboto', 'Bold';
    font-size: 32px;
    padding-bottom: 10px;
}

#presentation-content p {
    font-size: 18px;
    color: black;
    opacity: 70%;
    line-height: 28px;
    max-width: 316px;
}

#presentation-image {
    margin: auto;
    margin-bottom: 0px;
}


#popular-recipes h2{
    margin-top: 32px;
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--color-default);
}

#foods-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 25px;
    cursor: pointer;
}

.food-card img {
    width: 300px;
    height: 95px;
    border-radius: 15px;
}

.food-card h3 {
    line-height: 21px;
    margin-bottom: 5px;
}

.food-card p {
    line-height: 16px;
    margin-top: 5px;
    font-size: 14px;
    color: var(--color-author);
}

footer {
    margin-top: 60px;
    background-color: #EEEEEE;
    text-align: center;
}

footer p {
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    padding: 20px;
}

#content h1 {
    font-family: 'Roboto', 'Bold';
    font-size: 24px;
    padding-bottom: 20px;
    line-height: 24px;
}

#content h2 {
    font-family: 'Roboto', 'Bold';
    font-size: 20px;
    padding-bottom: 20px;
    line-height: 24px;
}

#content p {
    color: #444444;
    font-size: 18px;
    line-height: 28px;
}

/*=====RECIPE DESCRIPTION PAGE=====*/
#recipe-description img {
    width: 940px;
    height: 280px;
    border-radius: 15px;
    margin-bottom: 20px;
}

#recipe-description h1 {
    text-align: center;
}

#recipe-description h2 {
    text-align: center;
    color: var(--color-author);
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

.steps-header {
    padding-top: 20px;
    padding-bottom: 10px;
}

.steps-header h3 {
    font-size: 24px;
    line-height: 28px;
    padding-right: 5px;
    display:inline;
}

.steps-header p {
    font-size: 12px;
    color: #999999;
    line-height: 14px;
    cursor: pointer;
    display:inline;
}

.steps-container {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 10px;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    display: block;
    max-height: 1000px;
}

.hidden {
    max-height: 0px;
    display: none;
    opacity: 0;
}

/*====ADMIN PAGES STYLE====*/
.admin-header {
    background-color: #000000;
}

.admin-header img {
    margin-left: 16.5%;
}

.admin-container {
    margin: 32px 16.5%;
}

.admin-container h1 {
    font-size: 24px;
    line-height: 28px;
    color: #111111;
    display: inline-block;
}

button[type="submit"],
.button {
    background-color: #6558C3;
    border-radius: 4px;
    padding: 8px 16px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', 'Bold';
    float: right;
    cursor: pointer;
}

.button,
.recipe-info a {
    text-decoration: none;
}

button[type="submit"] + button[type="submit"] {
    margin-right: 8px;
}

button[type="submit"]:nth-child(3) {
    background-color: #DC4747;
}

.item {
    margin-top: 2%
}

.item div {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}

.item div:first-child {
    margin-bottom: 0.7%;
}

.item input,
.item textarea {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 100%;
    height: 49px;
    font-size: 16px;
}

.item input + input {
    margin-top: 8px;
}

.item textarea {
    height: initial;
}

.item button[type="button"],
.recipe-info a {
    font-size: 16px;
    color: #6558C3;
    font-weight: bold;
    background-color: transparent;
    margin-top: 16px;
    cursor: pointer;
}

textarea {
    font-family: 'Roboto', 'Regular';
    font-size: 16px;
}

.admin-container img {
    width: 100%;
    height: 28.17%;
    border-radius: 15px;
    margin-top: 32px;
}

.admin-container h2 {
    font-size: 36px;
    line-height: 42px;
    margin-top: 32px;
}

.admin-container h3 {
    font-size: 20px;
    line-height: 24px;
    margin-top: 4px;
    font-weight: normal;
    color: var(--color-author)
}

.recipe-presentation {
    text-align: center;
}

.admin-container ul {
    margin-top: 16px;
    margin-bottom: 32px;
    list-style-position: inside;
    list-style: none;
}

.admin-container ul li::before {
    content: "-";
    padding-right: 8px;
}

.admin-container ul li,
.admin-container p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

.admin-container p {
    margin-top: 16px;
}

/*====ADMIN RECIPE CARDS====*/
.admin_recipe-cards {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 64px;
    row-gap: 16px;
    align-items: center;
}

.admin_recipe-card img {
    margin: 0;
    width: 230px;
    height: 80px;
}

.admin_recipe-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.recipe-info {
    margin-left: 32px;
}

.recipe-info h4 {
    font-size: 18px;
    line-height: 21px;
    color: #111111;
    font-weight: normal;
}

.recipe-info h5 {
    font-size: 14px;
    line-height: 16px;
    color: var(--color-author);
    font-weight: normal;
    padding-bottom: 8px;
}