{% extends layout %}

{% block head %}
<title>Foodfy - Erro 404</title>
{% endblock head %}

{% block content %}
<div id="content" class="error">
    <h1>ERRO 404</h1>
    <p>Infelizmente não encontramos a página que você tentou acessar. Confira se o link foi digitado corretamente.</p>
    <p><a href="/">Clique aqui para navegar para página inicial.</a></p>
    <p>Caso tenha algum problema, nos envie um email em <a href="mailto:suporte@foodfy.com">suporte@foodfy.com</a>.</p>
</div>
{% endblock content %}