{% extends "layout_site.njk" %}

{% block head %}
    <title>
        Foodfy - Home
    </title>
{% endblock %}

{% block content %}

    <section id="presentation">
        <section id="presentation-content">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </section>
        <section id="presentation-image">
            <img src="/imgs/chef.png" alt="Mascote do Foodfy" srcset="">
        </section>
    </section>
    <section id="popular-recipes">
        <h2>Mais acessadas</h2>
        <section id="foods-cards">

            {% for recipe in recipes %}

                <section class="food-card" id="{{recipe.id}}">
                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    <h3>{{recipe.title}}</h3>
                    <p>por {{recipe.chef_name}}</p>
                </section>

            {% endfor %}

        </section>
    </section>

    <footer>
        <p>Todos direitos reservados, receitas Foodfy</p>
    </footer>
{% endblock %}
