{% extends "layout_site.njk" %}

{% block head %}
    <title>{{recipe.title}} por {{recipe.author}} | Foodfy</title>
{% endblock %}

{% block content %}
    <section id="recipe-description">
        <div class="gallery">
            <div class="highlight">
                {% if not files[0] %}
                    <img src="http://placehold.it/500x500?text=RECEITA SEM FOTOS">
                {% else %}
                    <img src="{{files[0].src}}" alt="{{files[0].name}}">
                {% endif %}
            </div>
        
            <div class="gallery-preview">
                {% for image in files %}
                    <img src="{{image.src}}" alt="image.name" {% if loop.index0 == 0 %} class="active" {% endif %} onclick="ImageGallery.setImage(event)">
                {% endfor %}
            </div>
        </div>
        
        <h1>{{recipe.title}}</h1>
        <h2>por {{recipe.chef_name}}</h2>

        <div class="steps-header">
            <h3>Ingredientes</h3>
            <p class="hide" id="ingredients">Esconder</p>
        </div>
        <div class="steps-container" id="container-ingredients">
            {% for ingredient in recipe.ingredients %}
                <li><span>{{ingredient}}</span></li>
            {% endfor %}
        </div>

        <div class="steps-header">
            <h3>Modo de preparo</h3>
            <p class="hide" id="preparation">Esconder</p>
        </div>
        <div class="steps-container" id="container-preparation">
            {% for step in recipe.preparation %}
                <li>{{step}}</li>
            {% endfor %}
        </div>

        <div class="steps-header">
            <h3>Informações adicionais</h3>
            <p class="hide" id="information">Esconder</p>
        </div>
        <div class="steps-container" id="container-information">
            <p>{{recipe.information | replace('\n', '<br>')}}</p>
        </div>

    </section>
{% endblock %}