{% extends "layout_admin.njk" %}

{% block head %}
        <title>Criar receita | Admin Foodfy</title>
{% endblock %}

{% block content %}
    <form id="form-post" method="POST" action="/admin/recipes">
        <h1>Criando receita</h1>
        <button type="submit">Salvar receita</button>
        {% include "admin/recipes/fields.njk" %}
    </form>
{% endblock %}