<div class="item">
    <div>Imagem da receita</div>
    <div class="input-file_container recipes">
        <input type="file" name="photo" id="#photo-input" multiple accept="image/*" data-limit=5 onchange="PhotosUpload.handleFileInput(event)">
        <label for="#photo-input" class="">
            <i class="material-icons-round">add</i>
        </label>

        <div id="photo-preview" class="recipes">
            {% if files %}
                {% for file in files %}
                    <div class="photo" id={{file.id}}>
                        <img class="photo chefs" src="{{file.src}}" alt="{{file.name}}">
                        <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
                    </div>
                    
                    <input type="hidden" name="file_id" value="{{file.id}}">
                {% endfor %}
            {% endif %}
            <input type="hidden" name="removed_files">
        </div>
    </div>
</div>

<div class="item">
    <div>Chef</div>
    <select name="chef_id" class="placeholder" data-selectedChef={{recipe.chef_id}}>
        <option value="" disabled selected hidden>Selecione um chef</option>
        {% for chef in chefs %}
        <option value="{{chef.id}}" {% if recipe.chef_id == chef.id %} selected {% endif %}>{{chef.name}}</option>
        {% endfor %}
    </select>
</div>

<div class="item">
    <div>Título da receita</div>
    <input type="text" name="title" value="{{recipe.title}}">
</div>

<div class="item" id="ingredients">
    <div>Ingredientes</div>
    {% if recipe.ingredients|length %}   
    {% for ingredient in recipe.ingredients %}
    <input type="text" name="ingredients[]" value="{{ingredient}}">
    {% endfor %}
    {% else %}
    <input type="text" name="ingredients[]">
    {% endif %}
    <button type="button" class="add-ingredient">Adicionar ingrediente</button>
</div>

<div class="item" id="preparation">
    <div>Modo de preparação</div>
    {% if recipe.preparation|length %}   
    {% for step in recipe.preparation %}
    <input type="text" name="preparation[]" value="{{step}}">
    {% endfor %}
    {% else %}
    <input type="text" name="preparation[]" value="{{step}}">
    {% endif %}
    <button type="button" class="add-step">Adicionar novo passo</button>
</div>

<div class="item">
    <div>Informações adicionais</div>
    <textarea name="information" cols="30" rows="10">{{recipe.information}}</textarea>
</div>