<!DOCTYPE HTML>
<html>
    <head>
        {% block head %}
        {% endblock %}
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header class="admin-header">
            <img src="/imgs/logo_white.png" alt="Logo do Foodfy">
            <a href="/admin/recipes">Receitas</a>
            <a href="/admin/chefs">Chefs</a>
        </header>

        <div class="admin-container">
            {% block content %}
            {% endblock %}
        </div>

        
        <script src="/scripts.js"></script>
    </body>
</html>