<!DOCTYPE html>
<html>

    <head>
        {% block head %}

        {% endblock %}

        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
    
        <div id="container">
            <header>
                <a href="/"><img src="/imgs/logo_black.png" alt="Logo do Foodfy"></a>
                <a href="/about">Sobre</a>
                <a href="/recipes">Receitas</a>
                <a href="/chefs">Chefs</a>
                <form class="search" action="/recipes" action="GET">
                    <input type="text" name="filter" placeholder="Buscar uma receita">
                    <button class="button">Buscar</button>
                </form>
            </header>
        
            {% block content %}

            {% endblock %}

        </div>

        <script src="/scripts.js"></script>
    </body>
</html>
